.shop-container{
    min-height: 200px;
    background-color: #f7f6f3;
}
.cart-title{
    font-size: 2rem;
    margin: 12px 20px 0px 20px;
    padding: 12px 0px 15px 20px;
    border-bottom: 1px solid #2123222a;
    color: #212322;
}
.cart-container{
    margin: 15px 20px 15px 20px;
    background-color: #f7f6f3;
    border-radius: 5px;
    /* box-shadow: 0px 0px 35px -5px rgba(33,35,34,1); */
    box-shadow: 0 0 20px rgb(0 0 0 / 30%);
}

.total{
    display: flex;
    justify-content: center;
  }
  .total span:nth-child(1){
    font-size: 2rem;
    color:  #275e38;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .total span:nth-child(2){
    font-size: 1.5rem;
    color:  #275e38;
    /* font-weight: bold; */
    margin-left: 50px;
    margin-top:8px;
  }
  .buyButton{
    margin: 20px 0px 15px 40%;
    background-color: #275e38;
    color: #f7f6f3;
    padding: 5px 100px 5px 100px;
  }

/* CARDS DE LAS ORDENES ↓*/
.cart_box img{
    width: 50px;
    height: 50px;
}
.cart_img{
    display: flex;
    width: 400px;
}
.cart_img p {
    font-weight: bold;
    margin-left: 10px;
}
.cart_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 20px; */
    margin: 0px 40px 0px 40px ;
    border-bottom: 2px solid #21232221;
    padding-bottom: 5px;
}
.cart_box div:nth-child(2) button{
    padding: 1px 10px;
    /* font-weight: bold; */
    margin-right: 0px;
    border:#212322 1px solid;

}
.cart_box div:nth-child(3) button{
    padding: 5px 10px;
    font-weight: bold;
    letter-spacing: 2px;
    border:none;
    outline: none;
    color: white;
    background-color: #275e38;
    border-radius: 4px;
    cursor: pointer;
}
.cart_box div:nth-child(3) button:hover{
    background-color: #212322;
}
.cart_box div:nth-child(3) span{
    background-color: #f7f6f3;
    padding: 5px 10px;
    border-radius: 5px;
    border-color: #212322;
    margin-right: 10px;
}
  