.imageBackground {
  background: url(https://www.lavanguardia.com/files/og_thumbnail/uploads/2020/06/26/5fa91d261c673.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  align-items: center;
}

