.advertising2{
    background-image: url(https://cdn3.f-cdn.com//files/download/186324189/Banner_lateral.jpg?fit=crop);
    height: 95%;
    margin-top: 18%;
}

.box-card{
    margin: 0px 0px 0px 0px;
}

