* {
    margin: 0;
    padding: 0;
  }
.navbar {
    width: 100%;
    position: fixed;
    z-index: 100;
}

.link-navbar {
    font-size: 14px;
    height: 40px;
}

.styleUser {
    font-size: 0px;
}

.shopping-cart {
    font-size: 0px;
}

.styleIcons {
    text-decoration: none;
    color: rgb(36, 36, 36);
}

.styleIcons:hover {
    color: #275e38;
}

@media (max-width:667px) {
    .styleUser {
        text-decoration: none;
        color: black;
        font-size: 25px;
    }

    .styleIcons2:hover {
        color: #275e38;
    }

    .icons-nav2 {
        margin-top: 15px;
        margin-left: 5px;
    }

    .styleIcons {
        color: rgb(255, 255, 255);
        width: 0px;
    }

    .icons-nav {
        width: 0px;
        font-size: 0px;
    }

    .logo-nav {
        margin-left: 100px;
    }

    .basic-navbar-nav {
        width: 375px;
    }

    .shopping-cart {
        font-size: 15px;
    }
}