.styleUser {
    font-size: 0px;
}

.container-link {
    list-style: none;
}

.link-nav {
    text-decoration: none;
    font-size: 14px;
    color:rgb(32, 32, 32);
    background-image: linear-gradient(
        to right,
        #275e38,
        #275e38 50%,
        #275e38 50%
      );
    background-position: 0% 100%;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 0% 2px;
    transition: background-size .3s;
    padding: 5px;
}
.link-nav:hover  {
    background-size: 100% 2px;
    color: #275e38;
} 
.shopping-cart {
    font-size: 0px;
}
.icon-nav {
    text-decoration: none;
  color: rgb(36, 36, 36) ;
  }
  .icon-nav:hover {
  color: #275e38 ;
  }
  
@media (max-width:844px) {
    .styleUser {
  text-decoration: none;
  margin-top: 5px;
    }
    .styleIcons2 {
        color: black;
        font-size: 25px;
        margin-left: 15px;
        padding: 5px;
    }
    .styleIcons2:hover {
        color:#275e38;
    }
    .ubac-nav {
        margin-left: 80px;
    }
    .icon-nav {
        font-size: 0px;
    }
    .container-link {
        display: block;
    }
}