.container{
    max-width: 100%;
}
.publicidad{
   margin-left: -20px;
}
@media (max-width: 490px){
    .publicidad{
        margin-left: -30px;
        font-size: 10px;
     }   
}
@media (max-width: 395px){
    .publicidad{
        margin-left: -15px;
        font-size: 10px
     }
}
@media (max-width: 300px){
    .publicidad{
        margin-left: -25px;
    }
}
