.box{
  padding: 15%;
}
.card-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}
.card-title{
font-size: 18px;
}

#toast {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #5c7cfa;
}

.card {
  width: 190px;
  height: 325px;    
  padding: 15px;
  border-radius: 10px 10px 10px 10px;
  position: relative;
  overflow: hidden;
  border-color: #21232221;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.2s;
}

.card:hover {
  transform: scale(1);
  box-shadow: 15px 20px 30px rgba(0, 0, 0, 0.2);
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 25px;
  margin-left: -2px;
  padding: 1px 15px 10px 15px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 0.2s ease-in-out;
  z-index: 999;
}

.heart {
  color: #989898;
  margin-top: -10px;
  margin-left: 70%;
  font-size: 30px;
  position: absolute;
  border-radius: 55%;
  cursor: pointer;
  padding: 5px;
}

.heart-active {
  color: #275e38;
  margin-top: -10px;
  margin-left: 70%;
  font-size: 30px;
  position: absolute;
  border-radius: 55%;
  padding: 5px;
  cursor: pointer;
}

.heart:hover {
  color: #275e38;

}

.card-body a {
  visibility: hidden;
  text-decoration: none;
}

.card:hover>.card-body {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 0, 2s ease;
}


.card:hover>.card-body>a {
  visibility: visible;
}

.first-image {
  width: 100%;
 

}

.cart,
.wish {
  padding: 5px;
  width: 50px;
  height: 50px;
  margin-left: -24px;
  margin-top: 0px;
  margin-right: 3px;
  background-color: #fff;
  color: #5c7cfa;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  text-align: center;
  -ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wish {
  color: #c50707;
}

.btn-card {
  font-family: "Roboto", sans-serif;
  padding: 8px;
  margin-left: -3px;
  border-radius: 5px;
  border: 2px;
  border-style: solid;
  border-color: #21232261;
  background-color: #275e3865;
}

.btn-card:hover {
  background-color: #275e38;
}

.tocart {
  color: #212322;
  font-size: 13px;
}
.seemore{
  color: #212322fc;
  font-size: 15px;
}
.buy {
  color: #275e387d;
  font-size: 20px;
  margin-top: -25px;
  margin: 1;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: end;
}



@keyframes fadeInOut {

  5%,
  95% {
    opacity: 1;
    top: 50px;
  }

  15%,
  85% {
    opacity: 1;
    top: 30px;
  }
}

a {
  z-index: -1;
}
@media (max-width: 1280px){
  .card {
    width: 170px;
    height: 320px;    
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    overflow: hidden;
    border-color: #21232221;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.2s;
  }
  .btn-card {
    margin-left: -25px;
    font-family: "Roboto", sans-serif;
    padding: 2px;
    border-radius: 6px;
    border: 1px;
    border-style: solid;
    border-color: #21232261;
    background-color: #275e3865;
  }
  .buy {
    font-size: 22px;
  }
  .tocart {
    font-size: 15px;
  }
  .seemore{
    color: #212322;
    font-size: 12px;
    margin-left: -20px;
  }
}
@media (max-width: 990px){
  .box{
    margin-left: 20%;
  }
  .card {
    width: 190px;
    height: 320px;    
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    overflow: hidden;
    border-color: #21232221;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.2s;
  }
  .heart{
    margin-top: -10px;
    margin-left: 60%;
  }
  .heart-active{
    margin-top: -10px;
    margin-left: 60%;
  }
  .btn-card {
    margin-left: -20px;
    font-family: "Roboto", sans-serif;
    padding: 2px;
    border-radius: 6px;
    border: 2px;
    border-style: solid;
    border-color: #21232261;
    background-color: #275e3865;
  }
  .buy {
    font-size: 20px;
  }
  .tocart {
    font-size: 15px;
  }
  .seemore{
    color: #212322;
    font-size: 12px;
    margin-left: -18px;
  }
}
@media (max-width: 768px) {
  .card {
    margin-left: 10%;
    width: 150px;
    height: 320px;    
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    overflow: hidden;
    border-color: #21232221;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.2s;
  }
  .btn-card {
    margin-left: -25px;
    padding: 2px;
    border-radius: 6px;
    border: 1px;
  }
  .buy {
    font-size: 20px;
  }
  .tocart {
    font-size: 14px;
  }
  .seemore{
    color: #212322;
    font-size: 13px;
    margin-left: -18px;
  }
}
@media (max-width: 590px){
  .box{
    margin-left: 1%;
  }
  .card {
    width: 185px;
    height: 100%;    
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    overflow: hidden;
    border-color: #21232221;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.2s;
  }
  .btn-card {
    margin-left: -25px;
    padding: 3px;
    border-radius: 6px;
    border: 1px;
  }
  .buy {
    font-size: 15px;
  }
  .tocart {
    font-size: 11px;
  }
}
@media (max-width: 490px){
  .box{
    margin-left: 5%;
  }
  .card {
    width: 155px;
    height: 100%;    
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    overflow: hidden;
    border-color: #21232221;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.2s;
  }
  .btn-card {
    margin-left: -25px;
    font-family: "Roboto", sans-serif;
    padding: 2px;
    border-radius: 6px;
    border: 1px;
    border-style: solid;
    border-color: #21232261;
    background-color: #275e3865;
  }
  .buy {
    display: flex;
    justify-content: end;
    color: #275e387d;
    font-size: 20px;

    font-family: "Roboto", sans-serif;
  }
  .tocart {
    color: #212322;
    font-size: 12px;
  }
  .seemore{
    color: #212322;
    font-size: 12px;
    margin-left: -20px;
  }
}
@media (max-width: 395px){
  .box{
    margin-left: 8%;
  }
  .card {
    width: 140px;
    height: 100%;    
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    overflow: hidden;
    border-color: #21232221;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.2s;
  }
  
  .btn-card {
    margin-left: -25px;
    font-family: "Roboto", sans-serif;
    padding: 2px;
    border-radius: 6px;
    border: 1px;
    border-style: solid;
    border-color: #21232261;
    background-color: #275e3865;
  }
  .buy {
    color: #275e387d;
    font-size: 18px;

    font-family: "Roboto", sans-serif;
  }
  .tocart {
    color: #212322;
    font-size: 12px;
  }
  .seemore{
    color: #212322;
    font-size: 12px;
    margin-left: -20px;
  }
  
}
@media (max-width: 360px){
  .box{
    display: flex;
    justify-content: center;
  }
  .card {
    width: 200px;
    height: 100%;    
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    overflow: hidden;
    border-color: #21232221;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.2s;
  }
  .btn-card {
    margin-left: -25px;
    font-family: "Roboto", sans-serif;
    padding: 1px;
    border-radius: 6px;
    border: 1px;
    border-style: solid;
    border-color: #21232261;
    background-color: #275e3865;
  }
  .buy {
    color: #275e387d;
    font-size: 10px;

    font-family: "Roboto", sans-serif;
  }
  .tocart {
    color: #212322;
    font-size: 10px;
  }
}

@media (max-width: 300px){
  
  .card {
    width: 200px;
    height: 100%;    
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    overflow: hidden;
    border-color: #21232221;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.2s;
  }
  .heart {
    color: #989898;
    margin-top: -10px;
    margin-left: 55%;
    font-size: 20px;
    position: absolute;
    border-radius: 55%;
    cursor: pointer;
    padding: 5px;
  }
  
  .heart-active {
    color: #275e38;
    margin-top: -10px;
    margin-left: 55%;
    font-size: 20px;
    position: absolute;
    border-radius: 55%;
    padding: 5px;
    cursor: pointer;
  }
  .card-title{
    font-size: 12px;
    }
  
}