:root {
  --main-bg-color: #0a009d;
  --main-text-color: #097235;
  --second-text-color: #097235;
  --second-bg-color: #04000c;
}

.primary-text {
  color: var(--main-text-color);
}

.second-text {
  color: var(--second-text-color);
}

.primary-bg {
  background-color: var(--main-bg-color);
}

.secondary-bg {
  background-color: var(--second-bg-color);
}

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
  background-image: linear-gradient(
    to right,
    #275e38 100%,
    #dde4df 100%,
    rgb(32, 32, 32) 100%
  );
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

div {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.daire {
  cursor: pointer;
  margin: auto;
  background-color: #eee;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
}
.daire > .bar {
  background-color: darkgray;
  width: 200px;
  height: 0px;
}
.daire:hover .bar {
  height: 300px;
}
.daire > .bar > div {
  background-color: #fff;
  width: 190px;
  height: 190px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: Auto;
  border-radius: 100%;
  display: table;
}
.daire > div > div > h4 {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-family: calibri;
  letter-spacing: 3px;
}
