.container {
  margin-top: 50px;

}

.card-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}


#toast {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #5c7cfa;
}

.card {
  width: 230px;
  height: 100%;    
  padding: 15px;
  border-radius: 10px 10px 10px 10px;
  position: relative;
  overflow: hidden;
  border-color: #21232221;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.2s;
}

.card:hover {
  transform: scale(1);
  box-shadow: 15px 20px 30px rgba(0, 0, 0, 0.2);
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1px 15px 10px 15px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 0.2s ease-in-out;
  z-index: 999;
}

.heart {
  background-color: #212322f0;
  color: #989898;
  display: flex;
  justify-content: start;
  margin-top: -15px;
  margin-left: -15px;
  font-size: 30px;
  position: absolute;
  border-radius: 30px;
  cursor: pointer;
}

.heart-active {
  color: #275e38;
  display: flex;
  justify-content: start;
  margin-top: -15px;
  margin-left: -15px;
  font-size: 30px;
  position: absolute;
  border-radius: 30px;
  padding: 0px;
  text-align: center;
  cursor: pointer;
}

.heart:hover {
  color: #275e38;

}

.card-body a {
  visibility: hidden;
  text-decoration: none;
}

.card:hover>.card-body {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 0, 2s ease;
}


.card:hover>.card-body>a {
  visibility: visible;
}

.first-image {
  width: 100%;
 

}

.cart,
.wish {
  padding: 5px;
  width: 50px;
  height: 50px;
  margin-left: -24px;
  margin-top: 0px;
  margin-right: 3px;
  background-color: #fff;
  color: #5c7cfa;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  text-align: center;
  -ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wish {
  color: #c50707;
}

.btn-card {
  font-family: "Roboto", sans-serif;
  padding: 8px;
  border-radius: 5px;
  border: 2px;
  border-style: solid;
  border-color: #21232261;
  background-color: #275e3865;
}

.btn-card:hover {
  background-color: #275e38;
}

.tocart {
  color: #212322;
  font-size: 13px;
}

.buy {
  color: #275e387d;
  font-size: 22px;
  margin: 1;
  font-family: "Roboto", sans-serif;
}

#toast,
#toast-cart {
  padding: 10px;
  padding-left: 5px;
  width: 230px;
  height: 50px;
  top: 0;
  left: 80%;
  transform: translate(-50%);
  background-color: #eff2ff;
  color: #76777e;
  padding: 1px;
  border-radius: 8px;
  text-align: center;
  z-index: 1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  -ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

#toast.show,
#toast-cart.show {
  visibility: visible;
  animation: fadeInOut 3s;
}

@keyframes fadeInOut {

  5%,
  95% {
    opacity: 1;
    top: 50px;
  }

  15%,
  85% {
    opacity: 1;
    top: 30px;
  }
}

a {
  z-index: -1;
}
@media (max-width: 990px){
  .card {
    width: 200px;
    height: 100%;    
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    overflow: hidden;
    border-color: #21232221;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.2s;
  }
}
@media (max-width: 768px) {
  .card {
    margin-left: 10%;
    width: 200px;
    height: 100%;    
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    overflow: hidden;
    border-color: #21232221;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.2s;
  }
  .btn-card {
    font-family: "Roboto", sans-serif;
    padding: 4px;
    border-radius: 6px;
    border: 1px;
    border-style: solid;
    border-color: #21232261;
    background-color: #275e3865;
  }
}
@media (max-width: 490px){
  .card {
    margin-left: 1%;
    width: 180px;
    height: 100%;    
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    overflow: hidden;
    border-color: #21232221;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.2s;
  }
  .btn-card {
    margin-left: -10px;
    font-family: "Roboto", sans-serif;
    padding: 2px;
    border-radius: 6px;
    border: 1px;
    border-style: solid;
    border-color: #21232261;
    background-color: #275e3865;
  }
  .buy {
    color: #275e387d;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
  }
}
@media (max-width: 395px){
  .card {
    width: 150px;
    height: 100%;    
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    overflow: hidden;
    border-color: #21232221;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.2s;
  }
  .btn-card {
    margin-left: -25px;
    font-family: "Roboto", sans-serif;
    padding: 1px;
    border-radius: 6px;
    border: 1px;
    border-style: solid;
    border-color: #21232261;
    background-color: #275e3865;
  }
  .buy {
    color: #275e387d;
    font-size: 15px;

    font-family: "Roboto", sans-serif;
  }
  .tocart {
    color: #212322;
    font-size: 12px;
  }
  
}