
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* video */
.video1 {
  /* margin-top: 80px; */
  width: 100%;
}
.video1 iframe {
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 548px;
}

.home-about {
  text-decoration: none;
  color: rgb(158, 153, 153);
}

.text-about {
  font-size: 15px;
}

.box-text {
  background-color: #c7cac84b;
}

.about {
  font-weight: 700;
  font-size: 170px;
  color: rgb(19, 18, 18);
  font-family: 'Oswald', sans-serif;
}

.vision {
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
  font-size: 170px;
  text-align: center;
  margin-bottom: 5%;
  color: rgb(19, 18, 18);
  text-decoration: none;
  background-image: linear-gradient(to right,
      #275e38,
      #275e38 50%,
      #275e38 50%);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: 0% 2px;
  transition: background-size .3s;
  padding: 5px;
}

.box-textAbout {
  text-align: center;
}

.vision:hover {
  background-size: 100% 2px;
  color: #275e38;
}

.container-img1 {
  height: 600px;
}

.text1 {
  line-height: 35px;
  text-align: justify;
  color: #636463;
  font-size: 17px;
}

.title1 {
  color: #275e38;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
}

.text-container2 {
  background-color: rgba(204, 202, 202, 0.26);
  height: 250px;
}

.Info {
  color: #275e38;
  text-decoration: none;
  background-image: linear-gradient(to right,
      #275e38,
      #275e38 50%,
      #275e38 50%);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: 0% 2px;
  transition: background-size .3s;
}

.Info:hover {
  background-size: 100% 2px;
  color: #275e38;
}

.iconoPlus {
  color: #275e38;
}

.styleIcons {
  text-decoration: none;
}



/* seccion fondo img de oceano */
.background-ocean {
  background-image: url(https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/esAR/Images/running-ss22-adidasxparley_transparency-global-clp-statement-citation-d_tcm216-862011.jpg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
}

.text-information {
  font-family: 'Oswald', sans-serif;
  position: relative;
  z-index: 1;
  padding: 2px 6px;
  color: white;
  background-color: #275e38;
}


.box-research {
  text-align: center;
}

.title2 {
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  width: 800px;
  margin-top: 100px;
  line-height: 150%;

}

/* seccion nosotros */
.our-team {
  padding: 30px 0 40px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  width: 300px;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #275e38;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #275e38;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
}

.carruselResponse {
  width: 0;
  height: 0;
}

.containerTeam {
  text-align: center;
  margin-top: 100px;
}


@media (max-width:740px) {

  .about {
    font-size: 70px;
    margin-left: 20px;
  }

  .vision {
    font-size: 70px;
    margin-bottom: 50px;
  }

  .SubTitle {
    font-size: 50px;
  }

  .video1 iframe {
    height: 140px;
  
  }
.container1 {
  display: flex;
  justify-content: center;
}
.text-container2 {
  height: 300px;
}
.container3 {
  margin-top: 30px;
}
.card-header {
  text-align: center;
}
.title2 {
  font-size: 30px;
}
  /* seccion nuestro equipo */
  .containerTeam {
    margin-top: 50px;
  }

  .our-team {
    margin-top: 10px;
  }
}